[*.{ts,tsx}]
indent_style = space
indent_size = 2
end_of_line = lf 
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ts,tsx,js}]
quote_type = single
insert_final_newline = false

[*.css]
quote_type = single
insert_final_newline = false

[*.html]
quote_type = single
insert_final_newline = false

[*.{ts,tsx,js,css,html}]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
